{% extends "bootstrap/base.html" %} {% import "bootstrap/fixes.html" as fixes %}
{% block head %} {{super()}}
<link
  rel="icon"
  href="{{ url_for('static', filename='bocchi.jpg') }}"
  type="image/x-icon"
/>
{% endblock %} {% block styles -%} {{super()}} {# do not forget to call super or
Bootstrap's own stylesheets will disappear! #}
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='style.css')}}"
/>
{% endblock %} {% block title %}{% endblock %} {% block content %} {% block main
%} {%- endblock %} {% block footer %}
<div class="container">
  <div id="footer" style="display: flex; justify-content: center">
    <p>&copy 2024 LeBulbasaur</p>
  </div>
</div>
{%- endblock %} {%- endblock %}
