{% extends "base.html" %} {% block title %}Login{% endblock %} {% import
"bootstrap/utils.html" as utils %} {% block main%}
<div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %} {%- if
  messages %}
  <div class="row">
    <div class="col-md-12">{{utils.flashed_messages(messages)}}</div>
  </div>
  {%- endif %} {%- endwith %}
  <div class="row" style="display: flex; justify-content: center">
    <div class="col-sm-6">
      <h2 class="text-center">Login</h2>
      <form class="form-horizontal" method="POST" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.username.label(class="form-label") }} {{
          form.username(class="form-control", size=32) }}
        </div>
        <div class="form-group">
          {{ form.password.label(class="form-label") }} {{
          form.password(class="form-control", size=32) }}
        </div>
        <div class="form-group form-check">
          {{ form.remember(class="form-check-input") }} {{
          form.remember.label(class="form-check-label") }}
        </div>
        <div class="form-group" style="display: flex; justify-content: center">
          {{ form.submit(class="btn btn-primary", style="width: 100%") }}
        </div>
      </form>
      <div class="text-center">
        <a href="/register">Don't have account? Register here</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
