{% extends "bootstrap/base.html" %} {% block title %}Register{% endblock %} {%
block content %}
<div
  class="container"
  style="display: flex; justify-content: center; height: 100vh"
>
  <div class="row">
    <div class="col">
      {% with messages = get_flashed_messages() %} {% if messages %}
      <ul class="flashes list-group">
        {% for message in messages %}
        <li class="list-group-item">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
      <h2 class="text-center" style="margin-top: 5rem">Register</h2>
      <form class="form-horizontal" method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.username.label(class="form-label") }} {{
          form.username(class="form-control", size=32) }}
        </div>
        <div class="form-group">
          {{ form.password.label(class="form-label") }} {{
          form.password(class="form-control", size=32) }}
        </div>
        <div class="form-group">
          {{ form.verify_password.label(class="form-label") }} {{
          form.verify_password(class="form-control", size=32) }}
        </div>
        <div class="form-group" style="display: flex; justify-content: center">
          {{ form.submit(class="btn btn-primary", style="width: 100%") }}
        </div>
      </form>
      <div class="text-center">
        <a href="/login">Already have an account? Sign in here</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
